# IDEs.
.idea
.vscode

# Packaging.
node_modules/
elm-stuff/

# Built files.
dist/

# Testing config for development.
*.env
server/config.*.json5

# Testing config for test deployment.
deployment/certs
deployment/config.json5
deployment/nginx.conf

# Testing asset local storage.
temp/

# Testing data
jasb-backup.sql
