@use "../_properties.scss";

// Shine gives a holographic effect.
.effect.shine {
  background-image: radial-gradient(
      circle at var(--effect-focus-x) var(--effect-focus-y),
      #fff 5%,
      #000 50%,
      #fff 80%
    ),
    linear-gradient(-45deg, #fff 15%, #000, #fff 85%), var(--shine-foil);
  background-blend-mode: soft-light, difference, normal;
  background-size: 120%, 200%, var(--shine-foil-size);
  background-position:
    center,
    var(--effect-focus-x) var(--effect-focus-y),
    center;
  background-repeat: no-repeat, no-repeat, repeat;
  filter: brightness(var(--shine-brightness, 0.8)) contrast(1.5) saturate(1);
  mix-blend-mode: color-dodge;
  opacity: calc(
    var(--effect-opacity, 0) * var(--shine-opacity, 1) *
      (1.5 - var(--effect-focus-from-center))
  );

  display: grid;
  grid-template:
    "shine" 1fr
    / 1fr;

  border-radius: var(--inner-border-radius);
  margin: var(--border-width);

  transition: opacity 0.1s;

  will-change: background-image, opacity, background-position, opacity;
  
  > * {
    grid-area: shine;
  }
}
