@use "../_properties.scss";

:root {
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);

  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
}

// Shine gives a holographic effect.
.shine {
  background-image: radial-gradient(
      circle at var(--effect-focus-x) var(--effect-focus-y),
      #fff 5%,
      #000 50%,
      #fff 80%
    ),
    linear-gradient(-45deg, #fff 15%, #000, #fff 85%), var(--shine-foil);
  background-blend-mode: soft-light, difference, normal;
  background-size: 120%, 200%, var(--shine-foil-size);
  background-position:
    center,
    --effect-focus-x --effect-focus-y,
    center;
  background-repeat: no-repeat, no-repeat, repeat;
  filter: brightness(var(--shine-brightness, 0.8)) contrast(1.5) saturate(1);
  mix-blend-mode: color-dodge;
  opacity: calc(
    (1.4 * var(--shine-opacity, 1) * var(--effect-opacity, 0)) - var(
        --effect-focus-from-center
      )
  );

  display: grid;
  grid-template:
    "shine" 1fr
    / 1fr;

  > * {
    grid-area: shine;
  }

  border-radius: calc(properties.by-name("border-radius") / 2);
  margin: calc(properties.by-name("border-radius") / 3 * 2);
}

.shine:before {
  --sunpillar-clr-1: var(--sunpillar-5);
  --sunpillar-clr-2: var(--sunpillar-6);
  --sunpillar-clr-3: var(--sunpillar-1);
  --sunpillar-clr-4: var(--sunpillar-2);
  --sunpillar-clr-5: var(--sunpillar-3);
  --sunpillar-clr-6: var(--sunpillar-4);

  transform: translateZ(1px);
}

.shine:after {
  --sunpillar-clr-1: var(--sunpillar-6);
  --sunpillar-clr-2: var(--sunpillar-1);
  --sunpillar-clr-3: var(--sunpillar-2);
  --sunpillar-clr-4: var(--sunpillar-3);
  --sunpillar-clr-5: var(--sunpillar-4);
  --sunpillar-clr-6: var(--sunpillar-5);

  transform: translateZ(1.2px);
}
