#bet-editor {
  > ol {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 1em;
  }

  .progress {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
  }

  .option-editor {
    display: flex;
    flex-flow: row;
    gap: 0.5em;

    .order {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 7em;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;
      gap: 0.5em;
    }
  }

  .contextual-overlay {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;

    p {
      margin: 0;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-flow: column;
      gap: 0.5em;
    }

    .controls {
      align-self: stretch;
    }
  }
}

#lock-moments-editor {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  h3,
  p {
    margin: 0;
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .lock-moment-editor {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    gap: 0.5em;
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5em;
  }

  .moments-actions {
    align-self: center;
  }

  .save-state {
    &:empty {
      display: none;
    }
    align-self: center;
  }
}
