@use "./edit/_game.scss";
@use "./edit/_bet.scss";

#edit {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .date-time {
    display: flex;
    gap: 0.5em;
  }

  .uploader {
    > div {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  .instructions {
    max-width: 50em;
    align-self: center;
  }

  .core-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    position: relative;
    align-items: flex-start;

    .editor,
    .preview {
      flex-basis: 15em;
      flex-grow: 1;
    }

    .editor {
      display: flex;
      flex-flow: column;
      gap: 1em;
    }

    .inline {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 0.5em;

      .fullwidth {
        flex-grow: 1;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
  }
}

.final-actions {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 2em 0 0 0;
  align-items: center;
}
