@use "../_colors.scss";
@use "../_util.scss";

#leaderboard {
  > .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-size: 1.25em;

    a {
      @include util.icon-aside;

      &.active {
        font-weight: bold;
      }
    }
  }

  > ol {
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: 1.5em;
    gap: 0.25em;

    display: grid;
    grid-template-columns: auto 3em 1fr auto;
    align-items: center;

    > li,
    > li > a {
      display: contents;
    }

    .user-avatar > img {
      border-radius: 3em;
      width: 3em;
      height: 3em;
    }

    .rank {
      justify-self: center;

      span {
        @include colors.by_name("secondary");

        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 1.5em;
        height: 1.5em;
        border-radius: 1.5em;
      }
    }

    .value {
      justify-self: stretch;

      .score {
        display: flex;
        align-items: center;

        > span {
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }
}
