# This docker compose file is for building and running a production version of jasb.
# This uses the built images from the github image repository.

networks:
  backend:
  frontend:

# You may not want docker to manage your data like this.
# Please see Docker's documentation for more on managing volumes: https://docs.docker.com/compose/compose-file/#volume-configuration-reference
volumes:
  storage-volume:

services:
  storage:
    image: postgres:15
    volumes:
      - storage-volume:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: jasb
      POSTGRES_PASSWORD: CHANGE_ME
      TZ: UTC
    networks:
      - backend
    restart: unless-stopped
    profiles:
      - migrate
      - serve

  migrate:
    image: "ghcr.io/jads-dev/jasb/migrate:latest"
    command: migrate
    environment:
      FLYWAY_URL: jdbc:postgresql://storage:5432/jasb
      FLYWAY_USER: jasb
      FLYWAY_PASSWORD: CHANGE_ME
    networks:
      - backend
    depends_on:
      - storage
    restart: no
    profiles:
      - migrate

  server:
    image: "ghcr.io/jads-dev/jasb/server:latest"
    environment:
      NODE_ENV: production
    networks:
      - backend
      - frontend
    depends_on:
      - storage
    volumes:
      - /host/path/to/config.json5:/jasb/config.json5:ro
    restart: unless-stopped
    profiles:
      - serve

  client:
    image: "ghcr.io/jads-dev/jasb/client:latest"
    ports:
      - "80:8080"
    networks:
      - frontend
    depends_on:
      - server
    volumes:
      - /host/path/to/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    profiles:
      - serve
