/**
In subdirectories the paths won't be right as the rewriting treats them all as coming from index.
If we do it all here, it'll match up.
*/

$grain: url(../assets/grain.webp);

@function quality-icon($slug, $type: "png") {
  @return url(../assets/qualities/icons/#{$slug}.#{$type});
}
$weeb-overlay: url(../assets/qualities/weeb-overlay.svg);
$red-tint: url(../assets/qualities/red-tint.svg#a); // Filter inside the SVG, not an image!
$censor: url(../assets/qualities/censor.svg#a); // Filter inside the SVG, not an image!

@function banner-background($slug, $type: "svg") {
  @return url(../assets/banners/#{$slug}-background.#{$type});
}

@function rarity-icon($slug) {
  @return url(../assets/rarities/icons/#{$slug}.svg);
}
@function rarity-stars($level) {
  @return url(../assets/rarities/stars/#{$level}.svg);
}
@function rarity-foil($slug) {
  @return url(../assets/rarities/foils/#{$slug}.svg);
}
