@use "sass:math";

@use "./_assets.scss";

.quality {
  display: block;
  content: "";
}

$trans: linear-gradient(
  180deg,
  #5bcefa 20%,
  #f5a9b8 20%,
  #f5a9b8 40%,
  #ffffff 40%,
  #ffffff 60%,
  #f5a9b8 60%,
  #f5a9b8 80%,
  #5bcefa 80%
);

@mixin quality($slug, $background, $icon-type: "png") {
  :host([qualities~="#{$slug}"]) {
    --quality-background: #{$background};
  }

  .quality.#{$slug} {
    &::after {
      content: "";
      display: block;
      width: 2em;
      height: 2em;
      background-size: contain;
      background-image: #{assets.quality-icon($slug, $icon-type)};
    }
  }
}

@include quality("self", #ffffff);
@include quality("weeb", #fdf9b4);
@include quality("joms", #eb0100);
@include quality("useless", #555555);
@include quality("mistake", #ff00ff);
@include quality("trans", $trans, "svg");

$primaryColor: #fff;
$secondaryColor: #333;
$steps: 20;

:host([qualities~="useless"]) {
  filter: grayscale(100%);
}

:host([qualities~="mistake"]) .name {
  position: relative;
  margin: 0 auto;
  color: $primaryColor;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $secondaryColor;
    color: $primaryColor;
    clip: rect(0, 900px, 0, 0);

    @media (prefers-reduced-motion) {
      animation: none !important;
    }
  }

  &::before {
    left: 7px;
    text-shadow: 1px 0 #00ff00;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1px 0 #ff0000;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*math.div(1, $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

:host([qualities~="weeb"]) .face::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  pointer-events: none;
  background-image: #{assets.$weeb-overlay};
  background-size: 100% 100%;
}

:host([qualities~="joms"]) .image {
  filter: #{assets.$red-tint};
}

:host([qualities~="self"]) {
  // TODO: Something?
}

:host([qualities~="trans"]) {
  &:host([layout="full-image"]) .image {
    position: unset;

    &::after {
      height: 100%;
      aspect-ratio: unset;
    }
  }

  .image {
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      aspect-ratio: 1;
      pointer-events: none;
      background: #{$trans};
      background-size: 100%;
      opacity: 0.5;
    }
  }
}
