@use "sass:color";

@use "./_assets.scss";
@use "./_properties.scss";

@mixin rarity($slug, $level, $color, $opacity, $foil-size) {
  :host([rarity="#{$slug}"]) {
    --rarity-level: #{$level};
    --rarity-color: #{$color};
    --rarity-icon: #{assets.rarity-icon($slug)};
    --rarity-stars: #{assets.rarity-stars($level)};

    --shine-foil: #{assets.rarity-foil($slug)};
    --shine-foil-size: #{$foil-size};
    --shine-opacity: #{$opacity};
  }
}

@include rarity("m", 1, #ffffff, 0.4, 2.5em 5em);
@include rarity("jb", 2, #06ba63, 0.6, 3em 4.8em);
@include rarity("pt", 3, #003fd2, 0.6, 10em 10em);
@include rarity("crm", 4, #af008f, 0.8, 12em 16em);
@include rarity("mp", 5, #ecd08c, 0.8, properties.by-name("width"));

.rarity {
  &::after {
    content: "";
    display: block;
    background-image: var(--rarity-stars);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
  }
  position: absolute;
  bottom: -1.5em;
  left: 0;
  right: 0;
}
