@use "sass:math";
@use "../../../_colors.scss";

@mixin quality($slug, $icon, $background) {
  &.quality-#{$slug} {
    --quality-background: #{$background};
  }

  .quality.quality-#{$slug}::after {
    background-image: #{$icon};
  }
}

.card {
  @include quality(
    "self",
    url(../../../../../assets/images/qualities/self.png),
    #ffffff
  );
  @include quality(
    "weeb",
    url(../../../../../assets/images/qualities/weeb.png),
    #fdf9b4
  );
  @include quality(
    "joms",
    url(../../../../../assets/images/qualities/joms.png),
    #eb0100
  );
  @include quality(
    "useless",
    url(../../../../../assets/images/qualities/useless.png),
    #555555
  );
  @include quality(
    "mistake",
    url(../../../../../assets/images/qualities/mistake.png),
    #ff00ff
  );
  @include quality("trans", colors.by-name("trans"), colors.by-name("trans"));
}

$primaryColor: #fff;
$secondaryColor: #333;
$steps: 20;

.card.quality-useless {
  filter: grayscale(100%);
}

.card.quality-mistake h2 {
  position: relative;
  margin: 0 auto;
  color: $primaryColor;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $secondaryColor;
    color: $primaryColor;
    clip: rect(0, 900px, 0, 0);

    @media (prefers-reduced-motion) {
      animation: none !important;
    }
  }

  &::before {
    left: 7px;
    text-shadow: 1px 0 #00ff00;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1px 0 #ff0000;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*math.div(1, $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.card.quality-weeb .face::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  pointer-events: none;
  background-image: url("../../../../../assets/images/qualities/weeb-overlay.svg");
  background-size: 100% 100%;
}

.card.quality-joms .image {
  filter: url("../../../../../assets/images/qualities/red-tint.svg#a");
}

.card.quality-self {
  // TODO: Something?
}

.quality.quality-trans::after {
  mask-image: url("../../../../../assets/images/heart.svg");
  mask-size: 100% 100%;
}

.card.quality-trans .image {
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    background: #{colors.by-name("trans")};
    background-size: 100% 100%;
    opacity: 0.5;
  }
}
