@use "sass:color";

@mixin rarity($slug, $level, $color, $icon, $stars) {
  &.rarity-#{$slug} {
    --rarity-level: #{$level};
    --rarity-color: #{$color};
    --rarity-icon: #{$icon};
    --rarity-stars: #{$stars};
  }
}

.card {
  @include rarity(
    "m",
    1,
    #ffffff,
    url(../../../../../assets/images/rarities/worth-a-moon.svg),
    url(../../../../../assets/images/rarities/star1.svg)
  );
  @include rarity(
    "jb",
    2,
    #06ba63,
    url(../../../../../assets/images/rarities/jam-bread.svg),
    url(../../../../../assets/images/rarities/star2.svg)
  );
  @include rarity(
    "pt",
    3,
    #003fd2,
    url(../../../../../assets/images/rarities/plus-two.svg),
    url(../../../../../assets/images/rarities/star3.svg)
  );
  @include rarity(
    "crm",
    4,
    #af008f,
    url(../../../../../assets/images/rarities/cream.svg),
    url(../../../../../assets/images/rarities/star4.svg)
  );
  @include rarity(
    "mp",
    5,
    #ecd08c,
    url(../../../../../assets/images/rarities/masterpiece.svg),
    url(../../../../../assets/images/rarities/star5.svg)
  );
}
