@use "../../_colors.scss";

#card-collection {
  .highlights {
    @include colors.by-name("secondary-background");
    padding: 1em;

    display: flex;
    flex-flow: column;
    gap: 1em;

    font-size: 0.9em;

    > .header {
      display: flex;
      gap: 1em;
      align-items: center;

      > h3 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
      }
    }

    > p {
      text-align: center;
      margin: 0;
    }

    > .cards {
      margin: 0;
      gap: 1em;
    }

    > .controls {
      display: flex;
      gap: 1em;
      justify-content: space-between;
    }
  }

  .card-types {
    font-size: 0.9em;
  }

  .banner-container {
    align-self: stretch;
  }
}
