@use "../../_colors.scss";

#forge {
  gap: 1em;
  align-items: stretch;

  .explanation {
    > p {
      margin: 0;
    }
  }

  .quote {
    display: grid;
    grid-template:
      "text text text" auto
      "msg . meta" auto
      / auto 1fr auto;
    gap: 0.25em;

    > md-outlined-text-field {
      grid-area: text;
    }

    > .validation-list {
      grid-area: msg;
    }

    > .count {
      grid-area: meta;

      &.at-limit {
        color: #{colors.by-name("bad")};
      }
    }
  }

  .balance-wrapper {
    align-self: center;
  }

  .tool {
    display: flex;
    flex-flow: column;
    gap: 1em;

    > .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;

      > .cost {
        color: #{colors.by-name("bad")};

        &.can-afford {
          color: unset;
        }
      }
    }
  }

  > .existing > ol {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.5em;

    > li > .card-outline > span {
      font-size: 2em;
    }

    .card.placeholder {
      opacity: 1;
    }
  }

  .card-outline {
    aspect-ratio: 5 / 7;
    width: 16em;
    border: 0.75em dashed #{colors.by-name("on-background")};
    border-radius: 1.5em;
    padding: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
  }
}
