@use "../../_util.scss";

#preview-banner {
  .banner-container {
    align-self: stretch;
  }

  .collection-links {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    gap: 0.5em;

    a {
      @include util.icon-aside;
    }
  }
}
