@use "sass:color";

#bet,
#bets {
  align-items: stretch;

  .game {
    flex-grow: 999;
    max-width: 35em;
  }

  > .game-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    > .bet-managers {
      flex-grow: 1;
      max-width: 25em;
    }
  }
}

#bets {
  > .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    > .filters {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-width: 50em;

      > .title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }

      > .filter {
        align-self: stretch;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
        gap: 0.5em;

        > div {
          color: var(--on-secondary);
          background-color: var(--secondary);
          border-radius: 0.5em;
          padding: 0.5em;

          > label {
            justify-content: space-between;
            width: 100%;
          }
        }
      }
    }
  }

  > .bet-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .empty {
    font-size: 2em;
    text-align: center;

    > svg {
      margin-right: 0.25em;
    }
  }
}

.bet {
  display: flex;
  flex-direction: column;
  border: 0.1em solid var(--tertiary);
  padding: 1em;
  border-radius: 0.25em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;

  font-size: 1.25em;

  box-sizing: border-box;

  position: relative;

  &.focus {
    border: 0.1em solid var(--primary);
  }

  > .summary {
    list-style-type: none;

    &::-webkit-details-marker,
    &::marker {
      display: none;
    }
  }

  > summary::after {
    display: block;
    content: "▼";
    text-align: center;
  }

  &[open] > summary::after {
    content: "▲";
  }

  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    h3 {
      margin: 0 0.25em;
      display: flex;
      align-items: center;
    }

    > .details span {
      margin: 0.25em;
    }
  }

  .description {
    white-space: pre-wrap;
  }

  .details {
    display: grid;
    grid-template:
      "name - button" auto
      "stakes stakes stakes" 1fr
      / auto 1fr auto;
    justify-items: stretch;
    align-items: center;
    grid-column: details;

    > .name {
      font-size: 0.7em;
      grid-area: name;
    }

    > .button {
      grid-area: button;
    }
  }

  .stakes {
    height: 1.5em;
    color: var(--on-tertiary);
    background-color: var(--tertiary);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    grid-area: stakes;

    > span {
      position: relative;
      color: var(--on-secondary);
      background-color: var(--secondary);
      transition: flex-grow 1s ease-in-out;
      border-right: 0.05em dotted #000000;

      &.local {
        background-color: var(--primary);
        color: var(--on-primary);
      }

      &.highlight {
        background: repeating-linear-gradient(
          45deg,
          #000000,
          #000000 0.05em,
          var(--secondary) 0.05em,
          var(--secondary) 0.25em
        );
      }

      &.placeholder {
        opacity: 0;
        pointer-events: none;
      }

      &:last-of-type {
        border-right: unset;
      }

      > .stake {
        display: none;

        z-index: 1;
        position: absolute;
        top: 1.8em;
        left: 50%;
        transform: translateX(-50%);

        flex-direction: column;
        align-items: center;

        color: var(--on-secondary);
        background-color: var(--secondary);
        filter: drop-shadow(0 0 0.5em #000000);

        padding: 0.5em;
        border-radius: 0.5em;

        min-width: 13em;

        > .user {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: inherit;

          > .avatar {
            margin-right: 0.5em;
          }
        }

        > .message {
          &:not(:empty) {
            &::before {
              content: "“";
            }
            &::after {
              content: "”";
            }
          }
        }

        > .at {
          margin-top: 1em;
          font-size: 0.5em;
        }

        &::before {
          content: "";
          position: absolute;
          top: -0.55em;
          height: 0;
          width: 0;
          left: 50%;
          transform: translateX(-50%);
          border-top: 0.3em solid transparent;
          border-right: 0.4em solid transparent;
          border-bottom: 0.3em solid var(--secondary);
          border-left: 0.4em solid transparent;
        }
      }

      &:hover > .stake {
        display: flex;
      }
    }

    > .filler {
      transition: flex-grow 1s ease-in-out;
    }
  }

  .winner {
    color: var(--good);
  }

  .winner .stakes {
    border: 0.1em solid var(--good);
  }

  &.complete .winner .ratio {
    color: var(--good);
  }

  &.complete .ratio {
    color: var(--disabled);
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: [image] auto [details] minmax(5em, 1fr) [stats] auto;
    align-items: center;

    gap: 0.25em;

    > li {
      display: contents;

      font-size: 1.5em;

      > img {
        max-height: 3em;
        max-width: min(3em, 100%);

        min-width: 0;
        overflow: hidden;

        grid-column: image;
        justify-self: center;
      }

      > mwc-button {
        grid-column: name;
        --mdc-button-horizontal-padding: 0.25em;
      }

      .stats {
        grid-column: stats;

        font-size: 0.5em;

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.1em;

        .people {
          svg {
            margin-right: 0.25em;
          }
        }
      }
    }
  }
}

.place-bet {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.5em;
  padding: 1em;

  background-color: var(--background);

  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;

    .score {
      font-size: 2em;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap-reverse;

    > * {
      margin: 0.5em;
    }

    > .cancel {
      --mdc-theme-primary: var(--bad);
    }
  }
}

#lock-manager {
  background-color: var(--background);
  border-radius: 0.5em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  ol {
    list-style: none;
    padding: 0;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr auto;
    gap: 0.5em;

    .header {
      font-weight: bold;
      text-align: center;
    }

    li {
      display: contents;
    }

    .locked {
      justify-self: center;
    }
  }
}
