@use "sass:color";

$primary: #ad1818;
$on-primary: #ffffff;
$dark: #28262e;
$on-dark: #f2f2f0;
$dark-accent: #d77d39;
$on-dark-accent: #000000;
$light: #f2f2f0;
$on-light: #28262e;
$light-accent: #797677;
$on-light-accent: #000000;

$discord: #7d92dd;
$on-discord: #000000;
$twitch: #6700fd;
$on-twitch: #ffffff;

$good: #6a8440;
$warning: #e77408;
$bad: #ff0000;
$disabled: #666666;
$on-disabled: #ffffff;
$link-color: #2222ff;

@mixin light {
  --background: #{$light};
  --on-background: #{$on-light};

  --secondary-background: #{color.scale($light, $lightness: -15%)};
  --on-secondary-background: #{$on-light};

  --good: #{$good};
  --warning: #{$warning};
  --bad: #{$bad};
  --link-color: #{$link-color};
}

@mixin dark {
  --background: #{$dark};
  --on-background: #{$on-dark};

  --secondary-background: #{color.scale($dark, $lightness: 15%)};
  --on-secondary-background: #{$on-dark};

  --good: #{color.scale($good, $lightness: 35%)};
  --warning: #{$warning};
  --bad: #{$bad};
  --link-color: #{color.scale($link-color, $lightness: 35%)};
}

:root {
  --primary: #{$primary};
  --on-primary: #{$on-primary};
  --secondary: #{$dark-accent};
  --on-secondary: #{$on-dark-accent};
  --tertiary: #{$light-accent};
  --on-tertiary: #{$on-light-accent};

  --disabled: #{$disabled};
  --on-disabled: #{$on-disabled};

  @include dark;

  @media (prefers-color-scheme: light) {
    @include light;
  }
}

#jasb {
  &.dark-theme {
    @include dark;
  }

  &.light-theme {
    @include light;
  }
}
