@use "sass:color";

$primary: #ad1818;
$dark: #28262e;
$dark-accent: #d77d39;
$light: #e0dfdb;
$light-accent: #797677;

$discord: #7289da;
$twitch: #9146ff;

$good: #6a8440;
$warning: #e77408;
$bad: #ff0000;
$disabled: #666666;
$link-color: #2222ff;

:root {
  --primary: #{$primary};
  --secondary: #{$dark-accent};
  --tertiary: #{$light-accent};

  --on-secondary: #{$dark};

  --background: #{$dark};
  --foreground: #{$light};

  --good: #{color.scale($good, $lightness: 35%)};
  --warning: #{$warning};
  --bad: #{$bad};
  --disabled: #{$disabled};
  --link-color: #{color.scale($link-color, $lightness: 35%)};

  @media (prefers-color-scheme: light) {
    --background: #{$light};
    --foreground: #{$dark};

    --good: #{$good};
    --warning: #{$warning};
    --bad: #{$bad};
    --link-color: #{$link-color};
  }
}
