@use "./colors";

#edit {
  display: flex;
  flex-direction: column;
  align-items: center;

  --mdc-text-field-outlined-idle-border-color: #{colors.$on-background-primary};
  --mdc-text-field-outlined-hover-border-color: #{colors.$background-secondary};
  --mdc-text-field-label-ink-color: #{colors.$on-background-primary};
  --mdc-text-field-ink-color: #{colors.$on-background-primary};

  .date-time {
    display: flex;

    > *:first-child {
      margin-right: 0.5em;
    }
  }

  .core-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch;

    > * {
      margin: 0.5em;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin: 1em;
  }

  .editor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    gap: 1em;

    > ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    label {
      margin: 0.5em 1em;
    }
  }

  .option-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .option-editor {
    display: flex;
    align-items: center;

    .order {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 0;
      width: 5em;
      margin-right: 0.5em;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;
      background-color: colors.$background-primary;

      > * {
        margin: 0.3em 0;
      }

      margin: 0.5em 0;
    }

    .inline {
      display: flex;
      align-items: center;

      .fullwidth {
        flex-grow: 1;
      }
    }
  }

  .errors {
    color: colors.$bad;
  }
}

#bet-editor {
  .user {
    display: inline-flex;
    align-items: baseline;

    .avatar {
      margin-right: 0.3em;
      width: 1em;
      height: 1em;
    }
  }

  .progress {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .contextual-overlay {
    border-radius: 0.5em;
    max-width: min(40em, 90%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$on-background-primary;
    background-color: colors.$background-primary;
    gap: 1em;

    ol {
      display: flex;
      flex-direction: column;
      gap: 1em;
      list-style: none;
      padding: 0;
    }

    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.uploader {
  > div {
    display: flex;
    align-items: center;
  }
}
