@use "sass:color";

#feed {
  padding-bottom: 1em;
}

#feed,
.feed {
  > * {
    max-width: 50em;
  }

  > p {
    text-align: center;
  }

  > ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    gap: 0.5em;

    > li {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.25em;
      align-items: center;
      font-size: 1.5em;
      padding: 0.5em;
      border: 0.1em solid var(--tertiary);
      overflow-wrap: anywhere;

      p {
        margin: 0;
        text-align: center;
      }

      .user {
        .avatar {
          margin-right: 0.15em;
          height: auto;
          width: auto;
          max-width: 1em;
          max-height: 1em;
          border-radius: 1em;
          aspect-ratio: 1/1;
        }
      }

      .message {
        align-self: stretch;
        text-align: center;

        .user::after {
          display: inline;
          content: ": ";
        }

        q {
          margin: 0;
          white-space: normal;
          word-wrap: break-word;

          &:before {
            display: inline;
            content: "“";
          }

          &:after {
            display: inline;
            content: "”";
          }
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.25em;
        flex-grow: 1;
        flex-basis: 5em;
      }

      > svg {
        font-size: 2em;
      }
    }
  }
}

.hide-spoilers {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
    background: repeating-linear-gradient(
      45deg,
      var(--warning),
      var(--warning) 0.25em,
      #00000000 0.25em,
      #00000000 2em
    );
  }

  &::after {
    content: "Click to reveal spoiler.";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    pointer-events: none;
    color: var(--bad);
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.75em;
    padding: 0.5em;
  }

  .potential-spoiler {
    filter: blur(0.4em);
  }
}
