.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: stretch;

  > div {
    margin: 0.5em;
    flex-basis: 25em;
    flex-grow: 1;

    > h3 {
      text-align: center;
    }
  }

  ol {
    list-style: none;
    padding: 0;
  }

  a {
    color: unset;
    text-decoration: unset;
  }
}

.game {
  display: flex;
  align-items: center;
  font-size: 1.2em;

  padding: 0.5em;

  position: relative;

  &.favourite {
    .favourite-control {
      color: var(--secondary);
    }
  }

  .cover {
    height: 6em;
  }

  .details {
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
      font-size: 1.25em;
      margin: 0;
    }
  }

  .mods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 1em;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .user {
      display: inline-flex;
      align-items: baseline;

      .avatar {
        margin-right: 0.15em;
        width: 1em;
        height: 1em;
      }
    }
  }

  .interactions {
    display: none;
  }

  &:hover .interactions {
    display: flex;
  }
}
