@use "./colors";

.games {
  align-self: stretch;

  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;

  max-width: 150em;
  margin: 0 auto;

  @media (min-width: 75em) {
    grid-template-columns: repeat(3, 1fr);
  }

  > div {
    > h3 {
      text-align: center;
    }
  }

  ol {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.25em;

    > li > .game {
      max-width: 50em;
      margin: 0 auto;
    }
  }

  a {
    color: unset;
    text-decoration: unset;
  }
}

.game {
  font-size: 1.2em;

  position: relative;
  display: block;

  &.favourite {
    .favourite-control {
      color: var(--secondary);
    }
  }

  > a {
    color: inherit;
    text-decoration: unset;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      opacity: 30%;
      background: var(--cover);
      background-size: cover;
      background-position: center center;
    }

    > div {
      display: flex;
      align-items: center;
      padding: 0.5em;
      backdrop-filter: blur(15px);
    }

    .cover {
      height: 6em;
      aspect-ratio: 3/4;
      object-fit: cover;
    }

    .details {
      margin-left: 0.5em;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      h2 {
        font-size: 1.25em;
        margin: 0;
      }
    }
  }

  .interactions {
    display: none;
  }

  &:hover .interactions {
    display: flex;
  }
}

.bet-managers {
  text-align: right;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .user {
    display: inline-flex;
    align-items: baseline;

    .avatar {
      margin-right: 0.15em;
    }
  }
}
