.leaderboard {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  counter-reset: leaderboard-counter;

  > li {
    display: flex;
    align-items: center;

    margin: 0.5em;

    > .rank {
      content: counter(leaderboard-counter);
      background-color: var(--secondary);
      margin-right: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 2em;

      min-width: 1.5em;
      height: 1.5em;
      border-radius: 1.5em;
    }

    > a {
      display: flex;
      align-items: center;

      color: inherit;

      text-decoration: none;

      padding: 0.25em 0.5em;
      font-size: 2em;

      .avatar {
        margin-right: 0.5rem;
      }

      .score {
        margin-left: 0.5rem;
      }
    }
  }
}
