@use "./colors";

#notifications {
  position: fixed;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: colors.$on-background-secondary;
  background-color: colors.$background-secondary;

  padding: 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0 0.5em;
  max-width: 40em;

  &.hidden {
    display: none;
  }

  > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    > li {
      &:first-child {
        border-top: 0.1em solid #000000;
      }
      border-bottom: 0.1em solid #000000;
    }
  }
}
