@use "sass:color";

#client-settings {
  > .background,
  > .foreground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  > .background {
    background-color: color.scale(#666666, $alpha: -50%);
  }

  > .foreground {
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
  }

  .foreground > div {
    background-color: var(--background);

    margin: 1em;
    padding: 1em;
    border-radius: 1em;

    pointer-events: auto;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .default-filters {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      justify-content: center;

      > li {
        border-radius: 0.5em;
        padding: 0.5em;
      }
    }
  }
}
