@mixin wide {
  font-size: 1em;
}

@mixin narrow {
  font-size: 0.8em;

  header {
    position: relative;
  }

  .bet > ul > li {
    > img,
    > .stats {
      display: none;
    }
  }
}

#jasb {
  @include wide;

  @media only screen and (max-width: 30rem) {
    @include narrow;
  }
}

#jasb {
  &.wide-layout {
    @include wide;
  }

  &.narrow-layout {
    @include narrow;
  }
}
