@use "sass:color";
@use "./notifications";

.avatar {
  width: 1em;
  height: 1em;
  border-radius: 1em;
}

.name {
  .discriminator {
    opacity: 0.25;

    font-size: 0.75em;
  }
}

.score {
  display: inline-flex;
  align-items: baseline;

  > span {
    margin-left: 0.15em;
  }

  &::before {
    display: block;
    width: 1em;
    height: 1em;

    content: "";
    background-image: url("../../assets/images/monocoin.png");
    background-size: contain;
    background-position: center;
  }

  .good {
    color: var(--good);
  }

  .bad {
    color: var(--bad);
  }
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .identity {
    display: flex;
    align-items: center;
    font-size: 2em;

    .avatar {
      margin-right: 0.5rem;
      font-size: 2em;
    }

    .local-user-indicator {
      margin-left: 0.5rem;
    }
  }

  .net-worth {
    font-size: 2em;
  }

  .bets {
    > summary {
      list-style-type: none;

      &::-webkit-details-marker,
      &::marker {
        display: none;
      }

      > h3 {
        text-align: center;

        &::after {
          display: inline;
          margin-left: 0.5em;
          content: "▼";
        }
      }
    }

    &[open] > summary > h3::after {
      content: "▲";
    }

    .game-section {
      list-style: none;
      padding: 0;

      display: flex;
      flex-direction: column;

      > li > details {
        > summary {
          list-style-type: none;

          &::-webkit-details-marker,
          &::marker {
            display: none;
          }

          > h4::after {
            display: inline;
            margin-left: 0.5em;
            content: "▼";
          }
        }

        &[open] > summary > h4::after {
          content: "▲";
        }

        .bets-section {
          list-style: none;
          padding: 0;

          display: flex;
          flex-direction: column;
          gap: 1em;
        }
      }
    }
  }

  .net-worth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;

    > li {
      display: contents;
    }

    .title,
    .score {
      margin: 0.15em;
    }

    .title {
      justify-self: flex-end;
    }

    .score {
      justify-self: flex-start;
    }
  }
}

.bankrupt {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30em;
  padding: 0.5em;
  border-radius: 0.5em;

  p {
    margin: 0.5em;
  }

  mwc-button {
    margin-top: 0.5em;
  }
}

.dangerous {
  --mdc-theme-primary: var(--bad);
}

#bankruptcy-overlay {
  border-radius: 0.5em;
  max-width: min(40em, 90%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--background);

  p {
    margin: 0;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.user-bets {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 1em;

  font-size: 0.5em;

  align-self: stretch;

  .hide-spoilers .potential-spoiler {
    text-shadow: 0 0 0.75em var(--on-background);
  }
}

#permissions-overlay {
  border-radius: 0.5em;
  max-width: min(40em, 90%);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  gap: 1em;
  max-height: calc(100% - 4em);
  overflow-y: auto;

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    font-size: 0.8em;

    > li {
      display: contents;

      &:nth-child(odd) {
        --line-color: #{color.scale(#ffffff, $alpha: -50%)};
      }

      > * {
        background-color: var(--line-color, unset);
        padding: 0.5em;
      }

      > div {
        display: flex;
        align-items: center;
      }
    }
  }
}

.log-in {
  appearance: none;
  border: unset;
  font: unset;
  cursor: pointer;
  background-color: inherit;
  margin: 0;
  padding: 0;
  color: var(--link-color);
  text-decoration: underline;
}
