@use "@fortawesome/fontawesome-svg-core/styles.css";

@use "./_assets.scss";
@use "./_util.scss";
@use "./_colors.scss";
@use "./_material.scss";
@use "./_fonts.scss";
@use "./_sizes.scss";
@use "./components/_user.scss";
@use "./components/_notifications.scss";
@use "./components/_navigation.scss";
@use "./components/_overlay.scss";
@use "./components/_game.scss";
@use "./components/_settings.scss";
@use "./components/_monocoins.scss";
@use "./components/_bet.scss";
@use "./components/_gacha.scss";
@use "./components/_place-bet.scss";
@use "./pages/_about.scss";
@use "./pages/_feed.scss";
@use "./pages/_games.scss";
@use "./pages/_leaderboard.scss";
@use "./pages/_bets.scss";
@use "./pages/_bet.scss" as bet-page;
@use "./pages/_user.scss" as user-page;
@use "./pages/_edit.scss";
@use "./pages/_gacha.scss" as gacha-page;

body {
  margin: 0;
  font-size: 1em;
}

img {
  max-width: 100%;
}

#jasb {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;

  @include colors.dark;
  &.dark-theme {
    @include colors.dark;
  }

  @media (prefers-color-scheme: light) {
    @include colors.light;
  }
  &.light-theme {
    @include colors.light;
  }

  width: max(20em, 100vw);
  min-height: 100vh;
  overflow: hidden;

  @include colors.by_name("background");
  background-image: #{assets.$background};
  background-repeat: repeat;
  background-size: 7.5em 1.5em;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.1rem 0.5rem;
  box-sizing: border-box;

  @include colors.by_name("secondary-background");

  > div {
    display: contents;
  }

  h1 {
    margin: 0;
    padding: 0.5rem;

    @include util.icon-aside;
    align-items: center;

    &::before {
      display: block;
      content: "";
      width: 1em;
      height: 1em;
      background-image: assets.$monocoin;
      background-size: contain;
    }
  }
}

a {
  color: #{colors.by_name("on-background")};
  text-decoration-color: rgba(127, 127, 127, 0.5);

  &:hover {
    color: #{colors.by_name("primary")};
  }

  .external,
  .permalink {
    font-size: 0.5em;
    vertical-align: top;
  }
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.core {
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin: 0 auto 0 auto;
  border-radius: 1em;
  background-color: #{colors.by_name("tint")};
  min-width: 10em;
  max-width: 100%;
  box-sizing: border-box;
}

.dangerous {
  --md-sys-color-primary: #{colors.by_name("bad")};
  --md-sys-color-on-primary: #{colors.by_name("on-bad")};
  --md-sys-color-secondary-container: #{colors.by_name("bad")};
  --md-sys-color-on-secondary-container: #{colors.by_name("on-bad")};
}

details {
  > summary {
    display: flex;
    align-items: center;
    gap: 0.5em;

    cursor: pointer;

    list-style-type: none;
    &::marker {
      display: none;
    }
  }

  > summary > .marker {
    > .up {
      display: none;
    }
    > .down {
      display: block;
    }
  }

  &[open] > summary > .marker {
    > .up {
      display: block;
    }
    > .down {
      display: none;
    }
  }
}

.validation-errors {
  color: #{colors.by_name("bad")};
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.error {
  border: 0.1em solid #{colors.by_name("bad")};
  padding: 0.25em;

  display: grid;
  grid-template:
    "icon reason" auto
    "icon message" auto
    "details details" auto
    / auto 1fr;
  align-items: center;
  gap: 0.25em;

  > .icon {
    grid-area: icon;
    color: #{colors.by_name("bad")};
  }

  > .reason {
    grid-area: reason;
  }

  > .message {
    grid-area: message;
  }

  > .details {
    grid-area: details;
    border-top: 0.1em dashed #{colors.by_name("bad")};
    padding-top: 0.25em;
  }
}

.loading {
  align-self: stretch;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;

  .load-description {
    text-align: center;
    font-size: 1.5em;
  }
}

.switch {
  display: flex;
  gap: 0.5em;
}
