@use "../../_util.scss";

.rolls,
.guarantees,
.scrap {
  @include util.icon-aside;
}

.balance {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-items: center;

  .info-button {
    margin-left: -1.5em;
    font-size: 0.6em;
  }

  .info-overlay {
    > .title {
      display: flex;
      flex-flow: row wrap;

      > h2 {
        flex-grow: 1;
      }
    }

    > ul {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 0.5em;
      padding: 0;
      list-style: none;
      align-items: center;

      > li {
        display: contents;
      }
    }
  }
}
