.card-types,
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 3em;
}

.highlight {
  display: flex;
  flex-flow: column;
  gap: 2em;

  .message {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
    }
  }
}

.card-container {
  display: flex;
  gap: 1em;
  justify-content: center;

  .card-controls {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.card-set {
  $slice-size: 1em;

  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;

  > li {
    overflow: visible;
    max-width: $slice-size;

    &:hover {
      z-index: 2;
    }

    &:last-of-type {
      max-width: unset;
    }
  }
}

.card-detail-overlay {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  > .card-details {
    display: flex;
    flex-flow: column;
    gap: 1em;

    > h3 {
      font-size: 1em;
      margin: 0;
    }

    > .qualities {
      list-style: none;
      padding: 0;
      margin: 0;

      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5em;

      > li {
        display: contents;
      }
    }

    > .credits {
      list-style: none;
      padding: 0;
      margin: 0;

      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5em;

      > li {
        display: contents;
      }
    }
  }

  > .controls {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
